* {
    font-family: Tahoma, Geneva, sans-serif;
}

body {
    background-image: url("bwl.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-color: black;
}

html {
    padding: 0px;
    margin: 0px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

#header-table {
    margin: auto auto;
    border-bottom: 2px solid #AED6F1;
    border-top: 2px solid #AED6F1;
    padding: 0px;
    color: white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,0,26,1) 22%, rgba(1,0,15,0.8239889705882353) 45%, rgba(1,0,8,0.7035407913165266) 61%, rgba(0,0,0,0.6223082983193278) 79%, rgba(0,0,0,0) 100%);

}

#header-table td:nth-child(1){
    text-align: right;
    width: 85px;
    padding-right: 25px;
    font-size: 150%;
    
}

#header-table td:nth-child(2){
    text-align: center;
}

#header-table td:nth-child(3){
    text-align: left;
    width: 100px;
    padding-left: 10px;
    font-size: 150%;    
}

h1 {
    font-size: 400%;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    text-shadow: 4px 4px black;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-top: 40px;
    color: white;
    text-shadow: 4px 4px black;
}

#prices-container {
    width: 700px;
    margin: auto auto;
    text-align: center;
}

.raid-container {
    border: 2px solid rgba(255,255,255,0.7);
    background: rgba(0,0,0,0.6);
    color: white;
    border-radius: 6px;
    float: left;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 300px;
    padding: 5px 0px 5px 5px;
}

.item-row {
    width: 200px;
}

th {
    text-align: left;
}

.class-header, .price {
    text-align: center;
}